body {
    background-color: #00040a; /* Extreme Dark Blue */
    color: #39FF14;           /* Basic Green Text */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 30px;
    border: 2px solid #39FF14;
    padding: 10px;
    margin-top: 20px;
}

/* Small Cookie Image Style */
.cookie-pic {
    width: 250px; /* Small size */
    border: 2px solid #39FF14;
    margin: 20px 0;
}

.ingredients-box {
    border: 2px solid #39FF14;
    padding: 15px;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    text-align: left;
}

.secret-text {
    color: white;
    font-size: 18px;
    margin: 30px auto;
    max-width: 600px;
}

/* Video position: Bottom Right Corner */
.corner-video {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid #39FF14;
    background: black;
    line-height: 0;
}

iframe {
    display: block;
}
